# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [9]:
# 1 Create tuple with first 10 integers
numbers = tuple(range(10))
print(numbers)


# 2 Print first middle and last element of tuple
print(numbers[0])
print(numbers[len(numbers)//2])
print(numbers[-1])

# 3 Print first 3, last 3 and 2 to 6
print(numbers[:3])
print(numbers[2:6])
print(numbers[-3:])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
0
5
9
(0, 1, 2)
(2, 3, 4, 5)
(7, 8, 9)

In [11]:
#4 Create a 3*3 matrix of tuple
matrix = tuple(
    tuple(i * 3 + j + 1 for j in range(3))  # Inner row
    for i in range(3)                       # Outer loop for 3 rows
)

print(matrix)

#5 Concat two tuple

tuple1 = (1,2,3)
tuple2 = (4,5,6)

result = tuple1 + tuple2

print(result)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3, 4, 5, 6)

In [15]:
# 6 create a tuple with duplicate elements and count the occurrence of an element , find the first occurreance of an element 

my_tuple = (1, 2, 3, 2, 4, 2, 5)
# Count occurrences of 2
count_2 = my_tuple.count(2)

# Find first occurrence of 2
first_index_2 = my_tuple.index(2)

print("Count of 2:", count_2)
print("First occurrence of 2 at index:", first_index_2)

# 7 unpack a tuple
my_tuple_1 = (1,2,3,4,5)
a,b,c,d,e = my_tuple_1
print(c)


# 8 list to tuple
my_list = [1,2,3,4,5]
my_tuple_2 = tuple(my_list)
print(my_tuple_2)

Count of 2: 3
First occurrence of 2 at index: 1
3
(1, 2, 3, 4, 5)

In [20]:
# 10 Create a tuple , convert it to list and then add element and convert back to tuple

my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
my_list.append(6)
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

# 11 join tuple elements

my_tuple_1 = ('h', 'e', 'l', 'l', 'o')
result = ''.join(my_tuple_1)
print(result)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
hello

In [21]:
# 12  dictionary with tuple keys and integer values

my_dict = {
    (1, 2): 100,
    (3, 4): 200,
    (5, 6): 300
}

print(my_dict)

{(1, 2): 100, (3, 4): 200, (5, 6): 300}

In [ ]:
# 13  Create and iterate over a nested tuple

nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

# Iterate over rows and elements
for row in nested_tuple:
    for item in row:
        print(item, end=' ')
    print()  # Newline after each row