In [1]:
1+2

3

In [4]:
## Line continuation
total=1+2+3+4+5+6+7+8+\
4+6
print(total)

46

int

In [8]:
## type inference
type(total)
print('hello')
total="sample"
type(total)

hello

str

In [ ]:
## name error
a=b

In [ ]:
##Declaring and assigning a variable
age=14
isStudent=False
name='Krishna'

In [12]:
## Naming convention
## start with a letter, _ and contains letter, numer and underscore
## variables are case sensitive


## Pyhton is dynamically typed
age=14
age_str = str(age)

print(age_str)
print(int(age_str))
type(age_str)

14
14

str

In [13]:
## Input

age=int(input("what is the age"))
print(age)

34

In [18]:
## airthmatic operation
a=10
b=5
result = a+b
print(result)
floor_div_result=a//b
print(floor_div_result)
exponent_result = a**b
print(exponent_result)

15
2
100000

In [1]:
## Conparision Operator

a=10
b=10
result=(a==b)
print(result)


str1="ravi"
str2="Ravi"
str1==str2


## Logical 

x=True
y=False

result=x and y

print(result)

True
False

In [6]:
## SET
my_set=set([1,2,3,4,5])
print(my_set)
print(type(my_set))
my_set.add(10)

print(10 in my_set)

{1, 2, 3, 4, 5}
<class 'set'>
True

In [10]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

union_set=set1.union(set2)
print(union_set)

print(set1.difference(set2))

print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}

In [14]:
# remove dupicate from list
lst=[1,2,2,3,3,4,4,5,5,6]
set3=set(lst)
print(set3)
tmp={2,3,4,5}
print(type(tmp))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [21]:
#dictionries
empty_dict={}
print(type(empty_dict))

student={"name": "Raone", "age":45}
print(student)

print(student["name"])
print(student.get("address"))
print(student.get("address", "Address not defines"))

<class 'dict'>
{'name': 'Raone', 'age': 45}
Raone
None
Address not defines

In [22]:
del student["age"]
print(student)

{'name': 'Raone'}

In [27]:
#common dict methods
student["address"]="India KA"
print(student.keys())
print(student.values())


## Shallow copy

student_copy=student
student_copy["name"]="Ritik"
print(student)
print(student_copy)

student_copy1 = student.copy(); 
student_copy1["name"]="Raja"

print(student)
print(student_copy1)

dict_keys(['name', 'address'])
dict_values(['Ritik', 'India KA'])
{'name': 'Ritik', 'address': 'India KA'}
{'name': 'Ritik', 'address': 'India KA'}
{'name': 'Ritik', 'address': 'India KA'}
{'name': 'Raja', 'address': 'India KA'}

In [29]:
for key,value in student.items():
    print(key,value)

name Ritik
address India KA

In [30]:
students={
    "student1":{"name":"Ravi", "age":37},
    "student2":{"name":"Ram", "age":26}
}

print(students)

{'student1': {'name': 'Ravi', 'age': 37}, 'student2': {'name': 'Ram', 'age': 26}}

In [31]:
## dict conprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
numbers=[1,2,2,3,3,3,3,4,4,5,5,5]
frequency={x:}